<div>
    <a href="/dashboard" class="is-pulled-right"> &larr; To Dashboard</a>
    <h2 class="title">Create a New Post</h2><hr>

    <form class="new-post" id="new-post-form">
        <div>
            <label for="post">Title:</label>
            <input type="text" id="post" class="input" placeholder="Title for your Post"/>
        </div>
        <div>
            <label for="post-content">Content:</label>
            <input type="text" name="post-content" class="textarea is-large" id="post-content" placeholder="What's on your Mind?"/>
        </div>
        <button class="btn is-primary is-pulled-right" type="submit">Post It!</button>
    </form>
</div>

<script src="/js/new-post.js"></script>